{{ form_start(form) }}
{# <div style="width: 50%; margin: 0 auto;"> <!-- 50% de largeur et centrer -->
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
</div> #}
{{ form_end(form) }}
