{% extends 'base.html.twig' %}

{% block title %}Condition d'utilisation légal{% endblock %}

{% block body %}


    <style>
        body {
            padding: 20px;
        }
        h1, h2, h3 {
            margin-top: 20px;
        }
    </style>

<div class="container">
    <h1>Conditions d'utilisation du service pour les consommateurs</h1>
    <h2>Bienvenue !</h2>
    <p>Entrée en vigueur le 16 janvier 2025</p>

    <h3>1. Introduction et champ d'application</h3>
    <p>
        Les présentes Conditions d'utilisation du service applicables aux consommateurs (« Conditions d'utilisation du service » ou « Conditions ») constituent un accord juridique entre nous (« nous », « nos », « notre » ou « Mock »), et vous, le consommateur qui utilisez un ou plusieurs des produits ou services que nous proposons pour votre usage personnel en vertu des présentes Conditions (« vous, « votre » ou « vos »).
    </p>

    <h3>2. Autres conditions auxquelles vous êtes assujetti(e)</h3>
    <p>
        Les conditions d'utilisation et politiques supplémentaires visées ci-après s'appliquent également lorsque vous accédez aux Services aux consommateurs ou lorsque vous les utilisez, et sont toutes intégrées par renvoi aux présentes Conditions.
    </p>

    <h3>3. Admissibilité</h3>
    <p>
        Pour accepter les présentes Conditions, vous devez avoir atteint la majorité et pouvoir conclure un contrat juridiquement contraignant dans votre pays de résidence.
    </p>

    <h3>4. Rôle de Mock</h3>
    <p>
        Tout contrat de vente conclu par l'intermédiaire des Services aux consommateurs vous lie directement à l'Utilisateur commercial. Vous, et non Mock, êtes responsable des achats que vous effectuez par l'intermédiaire des Services aux consommateurs.
    </p>

    <h3>5. Identification et prévention de la fraude</h3>
    <p>
        Vous convenez que les informations que vous nous fournissez sur vous-même et votre utilisation des Services aux consommateurs doivent être complètes, exactes et régulièrement actualisées.
    </p>

    <h3>6. Communications par SMS, notification push, e-mail et téléphone</h3>
    <p>
        En nous fournissant un numéro de téléphone, vous consentez à recevoir des messages par SMS, des notifications push, et des appels téléphoniques de notre part.
    </p>

    <h3>7. Nos droits de propriété intellectuelle</h3>
    <p>
        Nous nous réservons tous les droits qui ne vous sont pas expressément conférés aux termes des présentes Conditions.
    </p>

    <h3>8. Commentaires</h3>
    <p>
        Vous pouvez nous faire part de vos commentaires sur les Services aux consommateurs en contactant le service d'assistance.
    </p>

    <h3>9. Résiliation</h3>
    <p>
        Nous nous réservons le droit de résilier les présentes Conditions (ou toute partie de celles-ci) et de limiter, suspendre, modifier ou supprimer votre accès à tout ou partie des Services aux consommateurs à tout moment et pour quelque raison que ce soit.
    </p>

    <h3>10. Exclusion de garantie</h3>
    <p>
        Les Services aux consommateurs sont fournis « en l'état » et sans aucune garantie, expresse ou implicite.
    </p>

    <h3>11. Limitation de responsabilité</h3>
    <p>
        Les Entités couvertes par la clause d'exclusion de garantie n'encourent en aucun cas de responsabilité à votre égard du fait de toute perte d'activité, de clientèle, d'opportunité ou de bénéfices.
    </p>

    <h3>12. Loi applicable</h3>
    <p>
        Si vous résidez aux États-Unis, le droit californien régira toute réclamation ou tout litige intervenant entre vous et Mock.
    </p>

    <h3>13. Cession et bénéficiaires tiers</h3>
    <p>
        Vous ne devez pas céder vos droits ou obligations au titre des présentes Conditions à quiconque sans notre consentement écrit préalable.
    </p>

    <h3>14. Conditions diverses</h3>
    <p>
        Les présentes Conditions constituent le seul accord entre vous et Mock concernant les Services aux consommateurs.
    </p>

    <h3>15. Contact</h3>
    <p>
        Si vous avez des questions sur les Services aux consommateurs ou souhaitez savoir dans quelle mesure les présentes Conditions s'appliquent à votre cas, veuillez contacter notre service d'assistance.
    </p>
</div>


{% include 'home/_footer.html.twig' %}
{% endblock %}