{% extends 'base.html.twig' %}

{% block title %}Commande réussie{% endblock %}

{% block body %}
    {% include 'home/_navbar.html.twig' %}    

 <style>
        .custom-space {
        margin-top: 120px !important; 
    }
</style>
       
    <div class="container custom-space text-center mt-5">
        <h2>Votre paiement a été effectué avec succès !</h2>
        <p>Vous allez être redirigé vers votre QR Code dans quelques instants...</p>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{{ path('payment_success_id', {'id': orderId}) }}";
        }, 5000); // Redirection après 5000 millisecondes (5 secondes)
    </script>
    {% include 'home/_footer.html.twig' %}
{% endblock %}
